$green: #339900;
$body-font: 'Cormorant Garamond';
$light-gold: #d8b966;
$orange: #ef8701;
$red: #ea4e3a;
$black: #333333;
@mixin box-top{
  margin-top: 1.5rem;
  color: #666;
  .box-head{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  body{
    font-family: $body-font;
  }
  img{
    float: left;
    margin-right: 12px;
  }

  h3{
    margin-top: 0.5rem!important;
    font-size: 25px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  a{
    float: right;
    font-size: 21px;
    background: $green;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.3rem 2.5rem;
  }
}

.two-check{
  margin-top: 2rem;
  margin-bottom: 1rem;
  .w-should{
    display: block;
    width: 100%;
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
    img{
      float: left;
      margin-right: 19px;
    }
    h2{
      font-size: 26px;
      text-transform: uppercase;
      margin-top: 4px;
    }

  }
  .form-deliver{
    padding: 1rem;
    border: 1px solid #ccc;
    label{
      font-size: 16px;
    }
    .require{
      color: #dc3545;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=number],
    select
    {
      border-radius: 0;
      height: 3rem!important;
      margin-bottom: .6rem;
      background: #fdfbfc;
    }
    textarea{
      height: auto!important;
      resize: none;
    }
    a{
      display: block;
      background: $light-gold;
      padding: 0.5rem 2.1rem;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      button {
        color: #fff;
        background: none;
        border: 0;
        text-transform: capitalize;
        cursor: pointer;
      }
    }
  }
}
.three-check{
  margin-top: 2.5rem;
  .w-should{
    display: block;
    width: 100%;
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
    img{
      float: left;
      margin-right: 19px;
    }
    h2{
      font-size: 26px;
      text-transform: uppercase;
      margin-top: 4px;
    }
  }
  .address{
    padding: 2rem;
    border: 1px solid #ccc;
    h3{
      font-size: 20px;
      text-transform: uppercase;
    }
    ul{
      padding-left: 0;
      li{
        list-style: none;
        color: #666666;
        font-size: 20px;
      }
    }
    .form-control{
      margin-bottom: 1.5rem;
      font-size: 20px;
      width: 83%;
      color: #666666;
      border-radius: 0;
    }
    a{
      display: inline-block;
      background: $light-gold;
      padding: 0.5rem 2.1rem;
      font-size: 20px;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
    }
    .crown-point {
      display: inline-block!important;
      position: relative;
      top: 3px;
      left: -3px;
      margin-bottom: 10px;
    }
  }
}
.mtt-5{
  margin-top: 8rem;
}
.four-check{


  margin-top: 2.5rem;
  .w-should{
    display: block;
    width: 100%;
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
    img{
      float: left;
      margin-right: 19px;
    }
    h2{
      font-size: 26px;
      text-transform: uppercase;
      margin-top: 4px;
    }
  }
  .method{
    border: 1px solid #ccc;
    padding: 2rem;
    .custom-control-label::before {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dee2e6;
    }
    .custom-control-label::after {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      background: $light-gold;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .custom-control{
      margin-top: 2rem;
    }
    img{
      margin-left: 23px;
      margin-bottom: 23px;
    }
    h2{
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }
    h3{
      font-size: 22px;
      text-transform: none;

    }

    .c-corr{
      border: 1px solid #ccc;
      padding: 1rem;
      margin: 1rem;
      margin-left: 0;
      margin-right: 0;
      h4{
        font-size: 20px;
      }
      span{
        color: #666666;
      }
      a{
        float: right;
        display: block;
        background: $light-gold;
        padding: 0.5rem 2.1rem;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
      }
    }
  }
}

.checkout-mini-img{
  margin-top: 3rem;
  img{
    display: block;
    margin: 0 auto;
  }
}

.five-check{
  margin-top: 0.5rem;
  .w-should{
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 1.2rem 1.2rem 0.8rem 1.2rem;
    img{
      float: left;
      margin-right: 19px;
      position: relative;
      top: 5px;
    }
    h2{
      font-size: 26px;
      text-transform: uppercase;
      margin-top: 4px;
    }
  }
  .method{
    border: 1px solid #ccc;
    padding: 2rem;
    .custom-control-label::before {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dee2e6;
    }
    .custom-control-label::after {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      background: $light-gold;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .custom-control{
      margin-top: 2rem;
    }
    img{
      margin-left: 23px;
      margin-bottom: 23px;
    }
    h3{
      font-size: 20px;
      text-transform: uppercase;
    }
    .red{
      color: #dc3545;
      font-size: 18px;
    }
  }
}
.six-check{
  margin-top: 2rem;
  margin-bottom: 2rem;
  // margin: 3.5rem 0rem 1.6rem 0;
  .col-lg-6{
    padding-left: 0;
    padding-right: 0;
  }
  a,button, input[type = submit]{
    background: $light-gold;
    padding: 0.5rem 2.8rem;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border:none;
    text-transform: capitalize;
    float: right;
    cursor: pointer;
  }
  .back-btn{
    background: #838282;
    float: left;

  }
}

////////////////////////////////
// confirmation page
////////////////////////////////

.cnfirm-head{
  margin-top: 3rem;

  h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #666666;
  }
}
///////////////
.shopping-cart{
  box-sizing: border-box;

  color: #333333;
  .col-lg-12{
    margin: 6px 0px 8px 0px;
  }
  .content-box{
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 30px;
    a{
      background: #45b5c6;
      color: #fff;
      padding: 5px 10px;
      border: 0;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
  h2{
    text-transform: uppercase;
    font-size: 30px;
    color: #666666;
  }
  .bucket{
    float: left;
    margin-top: 6px;
    margin-right: 8px;
  }

  h1{
    text-transform: uppercase;
    font-size: 26px;
    padding: 11px;
  }


  thead tr{
    background: #f4f3f3;
    th{
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      color: #666666;
    }
  }
  tbody{

    color: #666666;
    tr{
      td{
        vertical-align: middle;
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
        .btn-number{
          background: transparent;
          border: 1px solid #ccc;
          border-radius: 0;
          padding: .375rem 0.55rem;
        }
        .fa-times{
          cursor: pointer;
          border: 1px solid #ccc;
          padding: .575rem;
          border-radius: 50%;
        }
        img{
          float: left;
          margin-right: 8px;
          width: 15%;
        }
        h4{
          font-size: 1.4rem;
          margin-bottom: 0;
          text-transform: capitalize;
          cursor: pointer;
        }
        .form-control{
          width: 50%;
          margin: 0 auto;
        }
        p{
          font-size: 14px;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
// modals
@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}

.modal-dialog {
  .modal-content {
    .modal-header {
      background: $light-gold;
      position: relative;

      h5 {
        text-align: center;
        font-size: 1.5rem;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    form {
      .form-group {
        position: relative;
        overflow: hidden;

        input,
        select,
        textarea {
          width: 100%;
          height: 50px;
          padding-left: 2.2rem;
          padding-right: 2rem;
          font-size: 1.3rem;
          border: 1px solid #ececec;
          border-bottom: 3px solid #ececec;
          border-left: 3px solid #ececec;
          border-radius: 9px;
          transition: .5s all;

          &:focus {
            border-left: 3px solid $light-gold;
            outline: none !important;
            padding-left: 1rem;
          }

          &:focus+.fa-user,
          &:focus+.fa-lock {
            left: 94%;
            color: $light-gold;

          }
        }

        .error {
          color: red;
        }

        i {
          position: absolute;
          top: 16px;
          left: 13px;
          color: #e0e0e0;
          transition: .3s;
        }
      }

      .signup-btn {
        text-align: center;

        button {
          display: block;
          width: 100%;
          background: $light-gold;
          color: #ffffff;
          font-size: 1.9rem;
          border: 0;
          border-bottom: 4px solid #666666;
          padding: 0.7rem 0;
          border-radius: .5rem;
          cursor: pointer;
          transition: .2s;

          &:hover {
            &:hover {
              background: darken($light-gold, 10);
            }
          }
        }
      }
    }

    p {
      text-align: center;
      margin-top: 2rem;
      font-size: 18px;

      a {
        color: $green;
      }
    }
  }
}

// modals
.check-tab{
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
}
.b-btns{
  a{
    background: #fff;
    color: #333;
    font-weight: 600;
    border: 2px solid $green;
    padding: 0.6rem 2.1rem;
    font-size: 24px;
    text-decoration: none;
    border-radius: 25px;
    text-transform: capitalize;
  }
  .submit-btn{
    background: #fff;
    color: #333;
    font-weight: 600;
    border: 2px solid $green;
    padding: 0.6rem 2.1rem;
    font-size: 24px;
    text-decoration: none;
    border-radius: 25px;
    text-transform: capitalize;
    cursor: pointer;
    float: right;
  }
}
// bottom cart
.cart-bottom{
  font-family: heading;
  color: #333;
  h2{
    font-size: 26px;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .l-t{
    border: 1px solid #ccc;
    .bg-lte{
      background: #e6e6e6;
      h1{
        font-size: 26px;
        margin: 1.4rem;
        text-transform: uppercase;
      }
    }
    .p-4{
      padding: 1.9rem!important;
    }
  }
  .l-b {
    padding: 1.9rem;
    border: 1px solid #ccc;
    margin-top: 1.9rem;
  }
  .r-t{
    border: 1px solid #ccc;
    .bg-lte{
      background: #e6e6e6;
      h1{
        font-size: 26px;
        margin: 1.4rem;
        text-transform: uppercase;
      }
    }
    .combibe-r-cart{
      padding: 6px;
      margin: 23px 14px 0px 13px;

      h1{
        font-size: 26px;
        margin-bottom: 1.4rem;
      }
      hr{
        float: left;
        width: 100%;
        margin-top: -0.4rem;
      }
    }
    .r-b{
      padding: 12px;
      .a-end-cart{
        text-align: right;
        position: relative;
        top: 11px;
        .submit-btn{
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          background: #e1ab04;
          color: #fff;
          font-weight: 600;
          border: 0;
          padding: 0.6rem 2.1rem;
          font-size: 24px;
          text-decoration: none;
          border-radius: 25px;
          text-transform: capitalize;
          cursor: pointer;
        }
        p{
          text-align: right;
          margin-bottom: 4px;
        }
      }
    }
  }
}

//////////////////
.combine-r-total{
  padding: 6px;
  margin: 23px 14px 0px 13px;
  color: #666;
  h1{
    font-size: 30px;
    margin-bottom: 1.4rem;
    padding: 0;
    color: #000;
    font-weight: 500;
  }
  h2{
    font-size: 26px;
  }
}
.c-box-1n2{
  .box-border{
    position: relative;
    border: 1px solid #ccc;
    padding: 1.3rem;
    min-height: 306px;
    .grey-text{
      color: #666666;
    }
  }
  h4{
    margin-top: 1rem;
    font-size: 22px;
    color: #666666;
  }
  a{
    color: $light-gold;
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .grey-btn{
    background: #838282;
  }
  .n-height{
    min-height: 200px;
  }
  .box-head{
    @include box-top;
  }
  ul{
    padding-left: 0;
    li{
      list-style: none;
      color: #666666;
      font-size: 20px;
    }
  }
  .border-0{
    img{
      margin-bottom: 1.5rem;
    }
  }
}
.cartConfirm-content{
  .close-btn{
    position: absolute;
    right: 0;
    top: 0;
    .fa{
      cursor: pointer!important;
    }
  }
  h2{
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
  }
  img{
    display: block;
    margin: 3rem auto;
  }
  p{
    color: #333333;
    font-size: 18px;
    span{
      color: $light-gold;
    }
  }
}
.bg-grey{
  background: #f4f4f4;
  padding: 1rem 0;
}
// .profile-page
.profile-p{
  font-size: 24px;
  color: #847d7d;
}
.update-profile{
  float: right;
  background: #fff;
  color: #333;
  border: 2px solid #ccc;
  padding: 0.2rem 1.8rem;
  font-size: 20px;
  text-decoration: none;
  border-radius: 25px;
  text-transform: capitalize;
  margin-right: 5px;
  cursor: pointer;
}
// Distributor signup
.d-signup{

  h1{
    text-transform: capitalize;
    color: $green;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 18px;
  }
}
// Distributor signup
// guest address
.guest-address{
  h4{
    float: right;
    font-size: 1.3rem;
    a{
      background-color: $light-gold;
      color: #ffffff;
      padding: 3px 10px;
      border-radius: 7px;
      }
    }
  
  .btn{
    background-color: $light-gold;
    color: #ffffff;
    font-weight: 600;
    float: right;
  }
}

// guest address