$roboto: 'Roboto', sans-serif;
$default_font: 'Cormorant Garamond';
$blue: #e8ca79;
$blue2: #3399cc;
$green: #e8ca79;
$green-btn: #e8ca79;
$green-btn-hvr: #ffcc00;
$dark-blue: #134563;
$light-green: #8bbb5a;
$yellow: #e8ca79;
$yellow2: #e8ca79;
$orange: #e8ca79;
$footer-grey: #57585c;
$red: #ea4e3a;
$black: #333333;
$white: #ffffff;
$border: 1px solid #ccc;
@mixin main-heading{
  position: relative;
  top: 50px;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 0.8rem;
  margin-bottom: 1rem;
}
@mixin main-para{
  position: relative;
  top: 50px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0.8rem;
  color: #999999;
}
@mixin heading-line{
  height: 16px;
  background: $blue;
  width: 100%;
}
@mixin mini-heading{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}
@font-face {
  font-family: main-heading;
  src: url(../css/fonts/monbaiti.ttf);
}
body{
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $default_font!important;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}
.light-font{
  font-weight: 300;
}
.medium-font{
  font-weight: 500;
}
.bold-font{
  font-weight: 700;
}


// products section
.products-section{
  text-align: center;
  margin-top: 6rem;
  .single-product{
    border: $border;
    margin-bottom: 1.9rem;
    position: relative;
        &:hover {
          .view_pro_btn {
            display: inline;
          }
          .wishlist_btn{
            display: inline;
          }
        }
  }
  h3{
    color: $blue;
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 700;
  }
  p{
    font-size: 14px;
    padding: 0 7px;
  }
  h4{
    color: $blue;
    font-weight: 600;
    font-size: 17px;
  }
    .view_pro_btn {
      position: absolute;
      top: 10px;
      right: 14px;
      background: #d8b966;
      color: #fff;
      padding: 1px 8px;
      border-radius: 6px;
      border: 0;
      display: none;
    }
        .wishlist_btn {
          position: absolute;
          top: 10px;
          left: 10px;
          color: #fff;
          padding: 1px 8px;
          border-radius: 6px;
          border: 0;
          display: none;
          .fa-heart {
            color: #ccc;
            font-size: 18px;
            float: right;
            position: relative;
            top: 6px;
            cursor: pointer;
            -webkit-transition: .2s;
            transition: .2s;
            &:hover{
              color: #ea4e3a;
            }
          }
        }


  .ui.animated.button {
    font-family: $default_font;
    position: relative;
    overflow: hidden;
    background: $blue;
    padding-right: 0!important;
    vertical-align: middle;
    text-transform: uppercase;
    z-index: 1;
    width: 100%;
    border-radius: 0;
    color: #fff;
}

}

.all-pro {
  margin-top: 4rem;
  margin-bottom: 3rem;

  // .col-lg-4{
  //   flex: 0 0 30.433333%;
  // }
  .cat-btns{
    margin: 0 auto;
    margin-bottom: 2rem;
    .nav-tabs{
      border-bottom: 0;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background: $blue;
      color: #fff;
    }
    .nav-tabs .nav-item{
      margin-bottom: 1rem;
    }
    a{
      font-family: $default_font;
      background: #f7f7f7;
      color: #333;
      font-size: 22px;
      padding: 7px 30px;
      border-radius: 0;
      text-transform: capitalize;
      text-decoration: none;
    }
  }

}
