@font-face {
  font-family: "bodyfont";
  src: url(../../../fonts/primary_font.ttf);
}

* {
  font-family: "bodyfont";
}

$color-background: #efefef;
// $color-main: #e8ca79;
$color-main: #d8b966;
$color-active: #FFF;
$color-link: #FFF;
$white: #FFF;
$dark-font: #272727;
$body-font: 'Cormorant Garamond';
$number-font: 'Roboto',
sans-serif;
$button-height: 27px;
$button-width: 35px;

body {
  background: $color-background !important;
  overflow-x: hidden;
}

a {
  display: inline-block !important;
  position: relative !important;
  text-decoration: none !important;
  font-size: 20px !important;
  overflow: hidden !important;
}

.nav-top {
  background: url(../../../assets/img/bg-clean.jpg);
  padding: 15px;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;


  .logo-top {
    text-align: center;

    img {
      width: 100%;
      transition: all .2s ease-in-out;
    }
  }

  p {
    font-size: 20px;
  }

  a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      // height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }

    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}

.fixed {
  background: $white;
  padding: 15px;
  -webkit-box-shadow: 4px -3px 11px 0px #717171;
  box-shadow: 4px -3px 11px 0px #717171;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 30;

  img {
    width: 72% !important;
  }
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Varela Round', serif;
}

.button_container {
  position: fixed;
  top: 16px;
  left: 14px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  display: none;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }

    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
      width: 75%;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.container .search-top {
  position: fixed;
  top: 16px;
  right: 4px;
  z-index: 30;
  display: none;

  img {
    width: 80%;
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 50;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    overflow-y: scroll;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }

      &:nth-of-type(3) {
        animation-delay: .45s;
      }

      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }

  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .mb-nav {
      color: $white;
      position: absolute;
      top: 5px;
    }

    .mobile-nav {
      width: 100%;
      background: darken($color-main, 4);
      padding: 10px 0;
      margin: 12px 0px;
      display: none;

      &.open {
        display: block;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

    li {
      display: block;
      height: auto;
      min-height: 44px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

// body-wrapper
.body-wrapper {
  padding: 0 15px;
  position: relative;

  .random-posts {
    position: relative;
    margin-top: 20px;

    a {
      display: block !important;
      z-index: 3;
      color: $white;
    }

    // &:before {
    //   content: '\A';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background: rgba(0, 0, 0, 0.45);
    //   opacity: 1;
    //   transition: all 1s;
    //   -webkit-transition: all 1s;
    // }

    .feature-img {}

    .feature-text {
      position: absolute;
      width: 100%;
      bottom: 0%;
      left: 0;
      color: $white;
      padding: 16px 20px 6px;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 12%, rgba(0, 0, 0, 0.55) 39%, rgba(0, 0, 0, 0.68) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 12%, rgba(0, 0, 0, 0.55) 39%, rgba(0, 0, 0, 0.68) 100%);
      transition: all .3s ease-in-out;

      .categories {
        margin-bottom: 0;

        span {
          background: $color-main;
          color: $white;
          padding: 5px 8px;
          margin-right: 5px;
          text-transform: uppercase;
          font-size: 11px;
        }
      }

      .date {
        margin-top: 0;

        .article_date {
          font-family: $number-font;
          background: transparent;
          font-weight: 500;
          font-size: 12px;
          padding: 0;
        }
      }

      .title {
        h3 {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .read-more {
        a {
          color: $color-main !important;
          text-transform: uppercase;
          display: inline !important;
          font-weight: 700;
          font-size: 14px !important;
        }
      }

      hr {
        border-top: 1px solid $color-main;
        margin-bottom: 10px;
        margin-top: 0;
      }
    }

    &:hover {
      .feature-text {
        background-color: rgba(0, 0, 0, .7) !important;
        transition: background-color 500ms ease;
      }
    }
  }

  .posts-heading {
    margin: 14px 0;

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: #474747;
      line-height: 32px;
      text-transform: capitalize;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 20px;
      padding-bottom: 9px;
      position: relative;

      &:after {
        content: " ";
        display: block;
        background: $color-main;
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: -3px;
      }

      .gold {
        color: $color-main;
      }
    }
  }

  .product-mobile {
    .card {
      .card-img-div {
        position: relative;

        .card-img {
          width: 50%;
          border-radius: calc(.25rem - 1px);
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }

        .view_pro_btn {
          position: absolute;
          top: 10px;
          right: 10px;
          background: #d8b966;
          color: #fff;
          padding: 1px 8px;
          border-radius: 6px;
          border: 0;
        }

        .wishlist_btn {
          position: absolute !important;
          top: 7px;
          left: 12px;

          i {
            color: #ea4e3a;
          }
        }
      }

      .card-body {
        .card-title {
          text-transform: uppercase;
          font-size: 20px;
        }

        .price {
          h5 {
            font-size: 20px;
            background: $color-main;
            color: white;
            padding: 5px 10px;
          }
        }

        .btn-custom {
          border: 1px solid $color-main;
          top: 0;
          color: $color-main;
          z-index: 20;
        }
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../../../assets/img/footer-logo.png) 0 0 no-repeat;
        top: 80px;
        left: 80px;
        position: absolute;
        display: inline-block;
        /* z-index: 5; */
        transform: rotate(-40deg);
        filter: grayscale(1);
        opacity: 0.15;
      }
    }
  }

  .holistic-directory {
    text-align: center;

    .single-directory {
      background: $color-main;
      color: $white;
      padding: 13px 10px 8px;
      margin: 8px 3px;

      a {
        color: $white;

        h4 {
          margin-bottom: 0;
        }
      }
    }

    .bg-none {
      margin-top: 10px;

      a {
        color: $color-main;
        text-decoration: underline;
      }
    }
  }

  // footer
  footer {
    background: #282828;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    position: absolute;
    left: 0;

    .footer-items {
      margin-bottom: 4rem;

      // &:last-child{
      //   border-right: 0;
      // }
      h3 {
        font-size: 19px;
        color: #fff;
        text-transform: uppercase;
      }

      a {
        font-size: 17px;
        color: #fff;
        transition: .2s;
      }

      .news-letter {
        input[type=email] {
          height: 34px;
          padding-left: 10px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          border: 0;
          outline: none;
          background: rgba(255, 255, 255, 0.1);
          color: #fff !important;
        }

        input[type="email"]::placeholder {
          color: #fff;
        }

        button {
          background: $color-main;
          color: #fff;
          padding: 5px 10px;
          border: 0;
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          text-transform: capitalize;
          position: absolute;
          cursor: pointer;
        }
      }

      .contact-us-btn {
        margin-top: 3.9rem;

        a {
          display: block;
          margin-top: 0.7rem;
          background: $color-main;
          color: #fff;
          padding: 5px 10px;
          border: 0;
          text-transform: capitalize;
          cursor: pointer;
          width: 100%;
          border-radius: 12px;
          text-align: center;
        }
      }
    }

    .social-icons {
      display: inline-block;

      .fab {
        font-size: 18px;
        color: $color-main;
        border: 1px solid $color-main;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        min-width: 40px;
        cursor: pointer;
        margin-left: 10px;
      }

      .fa-facebook {
        transition: .2s;

        &:hover {
          background: #3b5999;
          color: #fff;
        }
      }

      .fa-twitter {
        transition: .2s;

        &:hover {
          background: #55acee;
          color: #fff;
        }
      }

      .fa-instagram {
        transition: .2s;

        &:hover {
          background: #e4405f;
          color: #fff;
        }
      }
    }

    p {
      color: #fff;
      margin-top: 12px;
      text-align: left;
    }

    .col-lg-12 {
      margin-top: 3rem;
    }
  }

  // footer end
  // detail_post
  .detail-post {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;

    .feature-img {
      margin-bottom: 20px;

    }

    .feature-text {
      position: relative;
      width: 100%;
      bottom: 5%;
      left: 0;
      color: $dark-font;
      text-align: left;

      .categories {
        span {
          background: $color-main;
          color: $white;
          padding: 5px 8px;
          margin-right: 5px;
          text-transform: uppercase;
          font-size: 11px;
        }
      }

      .date {
        margin-top: 7px;

        span {
          font-weight: 700;
          font-size: 11px;
        }
      }

      .title {
        h3 {
          text-transform: capitalize;
          font-weight: 600;
          font-size: 22px;
          color: $color-main;
        }
      }

      .description {
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }

        table {
          color: #696969;
          font-size: 14px;
          margin-bottom: 10px;
          width: auto !important;

          tr {
            border: 1px solid #ccc;

            th {
              padding: 6px;

              &:first-child {
                background: #efefef;
              }
            }

            td {
              padding-left: 6px;
              border: 1px solid #ccc;
            }
          }
        }
      }

      .tag {
        p {
          font-size: 14px;
        }

        span {
          display: inline-block;
          background: #ccc;
          color: #999;
          margin-right: 5px;
          padding: 1px 8px;
          border-top-right-radius: 13px;
          border-bottom-right-radius: 13px;
        }
      }

      .read-more {
        a {
          color: $color-main !important;
          text-transform: uppercase;
          display: inline !important;
          font-weight: 700;
          font-size: 14px !important;
        }
      }

      hr {
        border-top: 1px solid $color-main;
        margin-bottom: 10px;
        margin-top: 0;
      }
    }
  }

  // detail-post end
  .visi-visible {
    visibility: visible !important;
  }

  .container-toast {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 2%;
    top: 17%;
    z-index: 10;
    visibility: hidden;
  }

  .rectangle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 50px;
    height: 50px;
    background: $color-main;
    transform: scale(0);
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    overflow: hidden;

    &.anim-toast {
      animation: scale-in .3s ease-out forwards,
        expand .35s .25s ease-out forwards;
    }
  }

  .notification-text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    &.anim-text {
      animation: fade-in 1s ease-in forwards;
    }

    span {
      margin-right: 1.8rem;
    }

    .fa-times {
      cursor: pointer;
    }
  }

  @keyframes scale-in {
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes expand {
    50% {
      width: 350px;
      border-radius: 6px;
    }

    100% {
      width: 300px;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2),
        0px 1px 1px 0px rgba(0, 0, 0, .14),
        0px 3px 3px -1px rgba(0, 0, 0, .12);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: .8;
    }
  }
}

.t-120 {
  top: 380px;
}

.numeric {
  font-family: $number-font;
}

// toast css
// full page search
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 100;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search h3 {
  position: absolute;
  top: 25%;
  width: 100%;
  color: #fff;
  text-align: center;
}

#search input[type="text"] {
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -38px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  text-transform: uppercase;
}

#search .btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  background: #e8ca79;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #888;
  border-color: #ccc;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

// full page search
// body-wrapper
// directory page
.directory {
  text-align: center;

  .search-d {
    width: 90%;
    height: 50px;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #f2f1f1;
    font-size: 20px;

    &:focus {
      outline: 0;
    }
  }

  .search-d::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
  }

  #filtersubmit {
    position: relative;
    z-index: 1;
    right: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    font-size: 24px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-top: 2.5rem;
    margin-bottom: 3rem;

    li {
      margin: .5rem 0;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
      background: $color-main;
      font-size: 18px;
      padding: 12px 8px 8px 4px;
      align-self: center;

      a {
        color: $white;
      }
    }
  }
}

// directory page
// modals
@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}

.modal-dialog {
  .modal-content {
    .modal-header {
      background: $color-main;
      position: relative;

      h5 {
        text-align: center;
        font-size: 1.5rem;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    form {
      .form-group {
        position: relative;
        overflow: hidden;

        input,
        select,
        textarea {
          width: 100%;
          height: 50px;
          padding-left: 2.2rem;
          padding-right: 2rem;
          font-size: 1.3rem;
          border: 1px solid #ececec;
          border-bottom: 3px solid #ececec;
          border-left: 3px solid #ececec;
          border-radius: 9px;
          transition: .5s all;

          &:focus {
            border-left: 3px solid $color-main;
            outline: none !important;
            padding-left: 1rem;
          }

          &:focus+.fa-user,
          &:focus+.fa-lock {
            left: 94%;
            color: $color-main
          }
        }

        .error {
          color: red;
        }

        i {
          position: absolute;
          top: 16px;
          left: 13px;
          color: #e0e0e0;
          transition: .3s;
        }
      }

      .signup-btn {
        text-align: center;

        button {
          display: block;
          width: 100%;
          background: $color-main;
          color: $white;
          font-size: 1.9rem;
          border: 0;
          border-bottom: 4px solid #666666;
          padding: 0.7rem 0;
          border-radius: .5rem;
          cursor: pointer;
          transition: .2s;

          &:hover {
            &:hover {
              background: darken($color-main, 10);
            }
          }
        }
      }
    }

    p {
      text-align: center;
      margin-top: 2rem;
      font-size: 18px;

      a {
        color: #390;
        display: inline !important;
      }
    }
  }
}

// modals
.bg-gold {
  background: $color-main;
}

.profile-p {
  font-size: 18px;
}

.update-profile {
  display: block;
  width: 100%;
  background: #e8ca79;
  color: #fff;
  font-size: 1.9rem;
  border: 0;
  border-bottom: 4px solid #666666;
  padding: 0.7rem 0;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.info-para {
  ol {
    padding-left: 0;
  }

  p {
    font-size: 18px;
    color: #272727;
  }
}

.bg-img {
  width: 100%;
  height: 285px;
  background-size: cover !important;
  background-position: center !important;
}

.pre-loader {
  width: 100vw;
  height: 100vh;
  background: #dcdad6;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 1s all ease-in-out;

  img {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loader-end {
  top: -100% !important;
  z-index: 0;
}

.lds-roller {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transition: 1s all ease-in-out;
  transform: translate(-50%, -50%);
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $color-main;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact_form {
  position: relative;
  border-radius: 5px;
  padding: 20px 30px 30px;
  margin: 1.3rem 0;
  height: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);

  .contact_form_btn {
    margin-top: 0.7rem;
    background: #d8b966;
    color: #fff;
    padding: 5px 10px;
    border: 0;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    float: right;
  }
}

.card-white .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  border: 1px solid #dddddd;
}

.card-white .card-footer {
  background-color: #fff;
  border-color: #ddd;
}

.card-white .h5 {
  font-size: 14px;
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.card-white .time {
  font-size: 12px;
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-heading .meta .title a {
  color: black;
}

.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}

.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;
}

.post .post-description p {
  font-size: 14px;
}

.post .post-description .stats {
  margin-top: 20px;
}

.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.post .post-footer .input-group-addon a {
  color: #454545;
}

.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
  margin-left: 50px;
}

.comments {
  position: relative;
  border-radius: 5px;
  padding: 15px 30px 30px;
  margin: 1.3rem 0;
  height: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  float: left;
  width: 100%;
  z-index: 2;

  .comment-btn {
    margin-top: 0.7rem;
    background: $color-main;
    color: #fff;
    padding: 5px 10px;
    border: 0;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    float: right;

    &:focus {
      outline: 0;
    }
  }
}

.modal-cart-btn {
  color: #fff;
  background: #d8b966;
  padding: 6px 6px;
  border-radius: 6px;
  margin-left: 0;
  border: 0;
  font-size: 12px !important;
}

.t-12 {
  top: 12px;
}

.darker-bg {
  background: rgba(0, 0, 0, 0.9) !important;
}